*{
    margin: 0;
    padding: 0;
    font-family: Georgia;
}
#main{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.1)),url("../img/bg.jpg");
    background-size: cover;

}
.video{
    text-align: center;
    padding: 250px ;

}
nav{
    width: 100%;
    height: 60px;
    background-color: #0005;
    position: fixed;
}
header{

    height: 90vh;
}
ul{

    float: right;
    list-style-type:none;
    margin-top: 20px;
}
.fo

{
    height: 10vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)),url("../img/foo.jpg");
    text-align: center;
    font-style: italic;
}
ul li{
    display:inline-block;
}
ul li a{
    text-decoration: none;
    color: khaki;
    padding: 0px 20px;
    border:1px solid transparent;
    transition: 0.3s ease;
}
ul li a:hover
{
    background-color: #ffc107;
    border-radius: 5px;
    color: #000;
}
.logo img{
    padding-left: 20px;
    padding-top: 7px;
    float:left;
    position: fixed;
    width:20em;
    height: 3em;
}
.title{
    position: absolute;
   top:50px;
    left: 50px;
    transform: translate(+67%,+50%);
}
.title h1{
    color: snow;
    font-size: 70px;
}
.button{
    position: absolute;
    top:60px;
    left: 50px;
    transform: translate(+67%,+50%);
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}